*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}


.footer{
    background-color: white !important;
    position: relative;
    bottom: 0px;
    width: 100%;
    padding: 1em;
    padding-left: 4em;
    box-shadow: inset 0px -1px 6px -1px rgb(0 0 0);
    
 }
 
 .footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap:4.5rem;
    align-items: flex-start;
 }
 
 .footer .grid .footer_box h3{
    font-size: 1rem;
    color:var(--black);
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .footer .grid .footer_box a{
    display: block;
    margin:1rem 0;
    font-size: 0.7rem;
    color:var(--light-color);
    color:black !important ;
 }
 
 .footer h3 {
    color:black !important
 }
 

 .footer .grid .footer_box a i{
    padding-right: 1rem;
    color:black !important;
    transition: .2s linear;
 }
 
 .footer .grid .footer_box a:hover{
    /* color:var(--main-color); */
   color: rgba(0, 0, 0, 0.61) !important;
 }
 
 .footer .grid .footer_box a:hover i{
    padding-right: 2rem;
      color: rgba(0, 0, 0, 0.61)  !important;

 }
 
 .footer .credit{
    text-align: center;
    padding: 2.5rem 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color:var(--black);
 }
 
 .footer .credit span{
    color:var(--main-color);
 }
 
 .footer_box .footer_logo{
   width: 1.7em;
   height: 5em;
 }

 .footer_box p {
   margin-top: 2em;
   color: black;
   font-size: 10px;
 }

 
@media screen and (max-width: 280px){
   .footer_box p {
       width: 20em;
   }
 }