*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

body{
    background-image: url('../Master_img/Untitled design (8).png');
    background-repeat: no-repeat;
    background-size: 105%;

}

.warpper{
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    margin-left: 6em;
}

.form-wrapper{
    position: relative;
    width: 530px;
    height: 600px;
    border-radius: 20px;
    padding: 0px 40px;
    overflow: hidden;
    
}

.form-wrapper2{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 76.2%;
    transition: 1s ease-in-out;
}

.form-wrapper.active .form-wrapper2.sign-in{
    transform: translateY(-450px);
}


.form-wrapper .form-wrapper2.sign-up{
    position: absolute;
    top: 450px;
    left: 0;
}


.form-wrapper.active .form-wrapper2.sign-up{
    transform: translateY(-450px);
}

h2 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.input-group{
    position: relative;
    margin: 57px 0;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
I}

.remember {
    margin: -24px 0 25px 5px;
}

.remember label{
    color: #000000;
    font-size: 14px;
}

.remember label input {
    accent-color: #003461;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.register-link p{
    color: #000000;
}

.register-link p a {
    color: #12517E;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
}

.register-link p a:hover{
    text-decoration: underline;

}


/* ////////////////////////// */


.form-wrapper2 form {
    width: 100%;
    height: 100%;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;

    background-color: #000000;
    color: white;
}

button:hover {
    background-color: white;
    color: #000000; 
}

#back_white{
    position: absolute;
    top: 38em;
    height: 20em;
    width: 60em;
    background-color: #ffffff;

    display: block;
}